<img data-bind='visible: loadingStatus.isBusy()' class="loading-img" src="./css/images/loading.gif"/>
<oj-bind-if test="[[loadingStatus.isLoaded()]]">
    <div class="oj-panel oj-flex oj-padding-start kn-border-green">
        <div class="oj-flex-item oj-sm-12 oj-md-12 oj-lg-12">



            <div class="" >
                <div class="tabbarcontainer">
                    <oj-tab-bar edge="top"
                                class = "oj-sm-condense"
                                overflow="popup"
                                id="tabbar2"
                                selection="{{headerTabSelectedItem}}"
                                data="{{tabsDataProvider}}">
                        <template slot="itemTemplate" data-oj-as="item">
                            <li :class="[[{'oj-disabled' : item.data.disabled}]]">
                                <a href="#">
                                    <span :class="[['oj-tabbar-item-icon ' + item.data.icons]]"></span>
                                    <oj-bind-text value="[[item.data.name]]"></oj-bind-text>
                                </a>
                            </li>
                        </template>
                    </oj-tab-bar>
                    <hr style=" background: #7f960d; ">
                </div>
            </div>


            <oj-bind-if test="[[loadModule()]]">


         <oj-module config="[[oj.ModuleElementUtils.createConfig({name: headerTabSelectedItem()})]]"> </oj-module>
            </oj-bind-if>



        </div>
    </div>
</oj-bind-if>
</div>


